:root {
  --color-primario: #ffffff;
  --color-segumdario: #536dfe;
  --color-rayabala: #3f51b5;
  --color-titulo-section: #000000;
  --color-subtitulo-card: #3f3f3f;
  --color-border-card: #f2f2f2;
  --color-card: #6173ef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

html{
  scroll-behavior: smooth;
}

/* GLOBAL */

.contenedor__grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  color: var(--color-titulo-section);
  font-size: 40px;
  text-align: center;
  margin: 3px 0 70px 0;
}

.contenedor {
  padding: 70px 0px;
  width: 95%;
  max-width: 1500px;
  margin: auto;
  overflow: hidden;
}
header {
  width: 100%;
  height: 580px;
  background: linear-gradient(
      180deg,
      #7e8ee8 0%,
      rgba(71, 83, 149, 0.619311) 52.24%,
      rgba(67, 82, 167, 0.276362) 78.26%,
      rgba(63, 81, 181, 0) 100%
    ),
    url(../img/sonrisa2.svg);
  width: 100%;
  background-attachment: fixed;
}

.content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 125px;
}

.contenedor__logo {
  margin-left: 50px;
}
.contenedor__logo span {
  color: var(--color-primario);
  font-size: 30px;
  font-weight: bold;
}

.contenedor__menu {
  margin-right: 50px;
}

.contenedor__menu a {
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
  font-size: 15px;
  color: var(--color-primario);
}

.contenedor__menu a:nth-child(5) {
  border: 2px solid var(--color-primario);
  padding: 8px 15px;
  border-radius: 50px;
}

.textos__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}

.textos__header__btn {
  color: var(--color-primario);
  font-size: 20px;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 50px;
  background-color: var(--color-segumdario);
  text-decoration: none;
}

.textos__header__btn:hover {
  color: var(--color-rayabala);
  font-size: 20px;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 50px;
  background-color: var(--color-primario);
  text-decoration: none;
}

.textos__header h1 {
  color: var(--color-primario);
  line-height: 70px;
  letter-spacing: 2px;
  font-size: 40px;
}

.textos__header h2 {
  color: var(--color-primario);
  line-height: 60px;
  font-size: 26px;
  letter-spacing: 3px;
  font-weight: 700;
}

.textos__header h3 {
  color: var(--color-primario);
  line-height: 70px;
  font-size: 26px;
  letter-spacing: 2px;
  font-weight: 300;
}

.wave img {
  width: 100%;
  /* height: auto; */
  max-width: 1800px;
}

.wave {
  position: absolute;
  width: 100%;
  /* height: auto; */
  /* bottom: 0px; */
  top: 430px;
}

.wave img {
  width: 100%;
  height: auto;
  max-width: 1800px;
}

.contenedor__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 50px;
}

.contenedor__card .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 242px;
  height: 350px;
  box-shadow: 2px 4px 6px 5px rgba(0, 0, 0, 0.05);
  border-radius: 17px;
}

.contenedor__card img {
  width: 130px;
  height: 130px;
  margin-bottom: 30px;
}

.contenedor__card .card-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
}

.card h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--color-titulo-section);
  text-align: center;
}

.card p {
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  margin: 0 5px;
  color: var(--color-subtitulo-card);
}

/* SECTION APARTADO DE CITAS */
.section__cita {
  width: 100%;
  height: 120px;
  background-color: var(--color-segumdario);
  overflow: hidden;
}

.contenedor__cita {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: auto;
}

.contenedor__cita .texto_cita p {
  font-size: 25px;
  line-height: 40px;
  font-weight: bolder;
  color: var(--color-primario);
}

.section__cita a {
  text-decoration: none;
  font-size: 25px;
  color: var(--color-subtitulo-card);
  background-color: var(--color-primario);
  filter: drop-shadow(7px 10px 2px rgba(6, 6, 6, 0.24));
  border-radius: 9px;
  padding: 10px 20px;
}
.section__cita a:hover {
  text-decoration: none;
  font-size: 25px;
  color: var(--color-primario);
  background-color: rgb(39, 35, 35, 0.9);
  filter: drop-shadow(7px 10px 2px rgba(6, 6, 6, 0.24));
  border-radius: 9px;
  padding: 10px 20px;
}

/* SECTION DE ABOUT US */
.contenedor__about {
  background-color: var(--color-border-card);
}

.card__about {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  overflow: hidden;
  margin-top: 30px;
}

.card__about img {
  width: 30%;
}

.card__about .about__texto {
  margin-top: 30px;
  width: 55%;
}

.card__about p {
  font-size: 20px;
  text-align: justify;
}

.about__texto h2:nth-child(1) {
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 1px;
  border-left: 2px solid var(--color-rayabala);
  padding-left: 3px;
}

.about__texto h2:nth-child(2) {
  font-size: 25px;
  line-height: 80px;
}

.contenedor__about .contenedor {
  margin-bottom: 20px;
}

/* SECTION DOCTORS */
.contenedor__card__doctors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.contenedor__card__doctors .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 242px;
  height: 350px;
  box-shadow: 2px 4px 6px 5px rgb(225, 228, 240);
  border-radius: 17px;
  margin-bottom: 50px;
  background-color: var(--color-card);
  /* background-color: var(--color-segumdario); */
}

.section__doctors .subtitulo {
  font-size: 30px;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 40px;
}

.section__doctors img {
  width: 160px;
  height: 160px;
  margin-bottom: 30px;
  border: 1px solid var(--color-border-card);
  border: none;
}

.section__doctors .contenedor-texto p {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  color: var(--color-primario);
}
.section__doctors .contenedor-texto h2 {
  color: var(--color-primario);
}

/* SECTION CONTACT US */
.section__contact {
  background-color: var(--color-border-card);
}

.section__contact .contenedor__texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__contact .contenedor__texto h2 {
  font-size: 30px;
  line-height: 80px;
}
.section__contact .contenedor__texto p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}

.section__contact .contenedor__formulario {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  /* grid-template-columns: repeat(2, 2fr); */
}

.contenedor__img img {
  width: 100%;
  min-width: 350;
}

.formulario__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: minmax(200px, 270px);
  grid-template-rows: repeat(5, 80px);
  grid-column-gap: 20px;
}

.formulario input:nth-child(1),
input:nth-child(2),
input:nth-child(4),
input:nth-child(5) {
  width: 206px;
  height: 45px;
}

.formulario input:nth-child(3) {
  grid-column: 1 / span 2;
  height: 45px;
}

.formulario textarea:nth-child(6) {
  grid-column: 1 / span 2;
}

.formulario .button {
  grid-column: 1 / span 2;
  height: 40px;
  margin-top: 35px;
}

/* SECTION FOOTER */
footer {
  background-color: var(--color-segumdario);
  padding: 60px 0px 30px 0px;
  margin: auto;
  overflow: hidden;
}

.contenedor-footer {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}

.content-foo {
  text-align: center;
}

.content-foo h4 {
  color: #fff;
  border-bottom: 3px solid var(--color-border-card);
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content-foo p {
  color: #ccc;
}

.titulo-final {
  text-align: center;
  font-size: 24px;
  margin: 20px 0px 0px 0px;
  color: #ccc;
}

.formulario .button {
  border: none;
  text-transform: uppercase;
  background-color: var(--color-segumdario);
  border-radius: 10px;
  color: var(--color-primario);
}

.formulario .button:hover {
  text-transform: uppercase;
  background-color: var(--color-primario);
  border-radius: 10px;
  color: var(--color-segumdario);
  border: 1px solid var(--color-segumdario);
  font-weight: bolder;
}

/* END FOOTER */

/*----------------------------------------------------------------------*/

@media screen and (max-width: 900px) {
  /* GLOBAL */
  .titulo {
    color: var(--color-titulo-section);
    font-size: 30px;
    text-align: center;
    margin: 3px 0 70px 0;
    /* margin-top: 3px; */
  }
  /* HEADER */

  .wave {
    position: absolute;
    width: 100%;
    /* height: auto; */
    /* bottom: 0px; */
    top: 500px;
  }
  .textos__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
  }

  .textos__header h1 {
    color: var(--color-primario);
    line-height: 70px;
    letter-spacing: 2px;
    font-size: 30px;
  }

  .textos__header h2 {
    color: var(--color-primario);
    line-height: 60px;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 700;
  }

  .textos__header h3 {
    color: var(--color-primario);
    line-height: 70px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 300;
  }

  /* SERVICES */
  .contenedor__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
  }

  /* SECTION CITA */
  .contenedor__cita .texto_cita p {
    font-size: 20px;
    line-height: 30px;
    font-weight: bolder;
    color: var(--color-primario);
  }

  .section__cita a {
    text-decoration: none;
    font-size: 20px;
    color: var(--color-subtitulo-card);
    background-color: var(--color-primario);
    filter: drop-shadow(7px 10px 2px rgba(6, 6, 6, 0.24));
    border-radius: 9px;
    padding: 10px 20px;
  }
  .section__cita a:hover {
    text-decoration: none;
    font-size: 20px;
    color: var(--color-primario);
    background-color: rgb(39, 35, 35, 0.9);
    filter: drop-shadow(7px 10px 2px rgba(6, 6, 6, 0.24));
    border-radius: 9px;
    padding: 10px 20px;
  }

  /* ABOUT US */

  .card__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: hidden;
    margin-top: 30px;
  }

  .card__about .about__texto {
    margin-top: 30px;
    width: 90%;
  }

  .about__texto h2:nth-child(1) {
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 1px;
    border-left: none;
    border-bottom: 1px solid var(--color-segumdario);
  }

  .about__texto h2:nth-child(2) {
    text-align: center;
    font-size: 25px;
    line-height: 80px;
  }

  .card__about p {
    font-size: 20px;
    text-align: justify;
  }

  /* DOCTORS */
  .contenedor__card__doctors {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .section__doctors .subtitulo {
    font-size: 25px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 40px;
  }
  .contenedor__card__doctors .card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 370px;
    height: 200px;
    box-shadow: 2px 4px 6px 5px rgb(225, 228, 240);
    border-radius: 17px;
    margin-bottom: 50px;
    background-color: var(--color-card);
    /* background-color: var(--color-segumdario); */
  }

  .section__doctors img {
    width: 160px;
    height: 160px;
    margin-bottom: 0px;
    border: 1px solid var(--color-border-card);
    border: none;
  }

  /* CONTACT US */
  .section__contact .contenedor__formulario {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .contenedor__img img {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  /* GLOBAL */
  .titulo {
    color: var(--color-titulo-section);
    font-size: 25px;
    text-align: center;
    margin: 3px 0 70px 0;
    /* margin-top: 3px; */
  }

  .wave {
    position: absolute;
    width: 100%;
    /* height: auto; */
    /* bottom: 0px; */
    top: 530px;
  }

  /* HEADER */
  .textos__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
  }

  .textos__header h1 {
    color: var(--color-primario);
    /* line-height: 70px; */
    letter-spacing: 2px;
    font-size: 25px;
  }

  .textos__header h2 {
    color: var(--color-primario);
    line-height: 20px;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 700;
    text-align: center;
  }

  .textos__header h3 {
    color: var(--color-primario);
    line-height: 70px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .textos__header__btn {
    color: var(--color-primario);
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 50px;
    background-color: var(--color-segumdario);
    text-decoration: none;
  }

  .textos__header__btn:hover {
    color: var(--color-rayabala);
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 50px;
    background-color: var(--color-primario);
    text-decoration: none;
  }

  /* SERVICES */

  .contenedor__card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 50px;
  }
  .contenedor__card .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 350px;
    box-shadow: 2px 4px 6px 5px rgba(0, 0, 0, 0.05);
    border-radius: 17px;
    /* margin-bottom: 50px; */
  }

  .contenedor__card img {
    width: 110px;
    height: 130px;
    margin-bottom: 30px;
    /* border: 1px solid var(--color-border-card); */
  }

  .contenedor__card .card-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
  }

  .card h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--color-titulo-section);
    text-align: center;
  }

  /* SECTION CITA */
  .contenedor__cita .texto_cita p {
    font-size: 15px;
    line-height: 25px;
    font-weight: bolder;
    color: var(--color-primario);
  }

  .section__cita a {
    text-decoration: none;
    font-size: 15px;
    color: var(--color-subtitulo-card);
    background-color: var(--color-primario);
    filter: drop-shadow(7px 10px 2px rgba(6, 6, 6, 0.24));
    border-radius: 9px;
    padding: 10px 20px;
    font-weight: bold;
  }
  .section__cita a:hover {
    text-decoration: none;
    font-size: 20px;
    color: var(--color-primario);
    background-color: rgb(39, 35, 35, 0.9);
    filter: drop-shadow(7px 10px 2px rgba(6, 6, 6, 0.24));
    border-radius: 9px;
    padding: 10px 20px;
  }

  /* ABOUT US */

  .about__texto h2:nth-child(1) {
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    letter-spacing: 1px;
    border-left: none;
    border-bottom: 1px solid var(--color-segumdario);
  }

  .about__texto h2:nth-child(2) {
    text-align: center;
    font-size: 20px;
    line-height: 80px;
  }

  .card__about p {
    font-size: 15px;
    text-align: justify;
  }

  /* DOCTORS */
  .contenedor__card__doctors {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .section__doctors .subtitulo {
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 40px;
  }

  /* CONTACT US */
  .section__contact .contenedor__texto h2 {
    font-size: 20px;
    line-height: 80px;
  }
  .section__contact .contenedor__texto p {
    font-size: 15px;
    text-align: center;
    margin-bottom: 50px;
  }
  .formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 80px);
    grid-column-gap: 20px;
  }

  /**/
  .formulario input:nth-child(1),
  input:nth-child(2),
  input:nth-child(4),
  input:nth-child(5) {
    width: 180px;
    height: 40px;
  }

  .formulario input:nth-child(3) {
    grid-column: 1 / span 2;
    height: 40px;
  }

  .formulario textarea:nth-child(6) {
    grid-column: 1 / span 2;
  }

  .formulario .button {
    grid-column: 1 / span 2;
    height: 40px;
    margin-top: 35px;
  }
}
